{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>
    {% if listings %}
        <div class="row">
            <div class="card-columns">
            {% for listing in listings %}
            <div class="col-md-3">
                    <div class="card" style="width: 18rem;">
                        <img src="{{ listing.image_url }}" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">{{ listing.title }}</h5>
                                <p class="card-text">{{ listing.description }}</p>
                                <a href="{% url 'listing' listing.id %}" class="btn btn-primary">View Listing</a>
                            </div>
                       
                    </div>
            </div>
            {% endfor %}
            </div>
        </div>
    {% else %}
        <p>No active listings are available at the moment.</p>
    {% endif %}
        </div>
        
{% endblock %}