    {% extends "auctions/layout.html" %}
    {% block body %}

    <div>
        {% if messages %}
            <div class="container mt-3">
                {% for message in messages %}
                    {% if "error_1" in message.tags %}
                    <div class="alert alert-warning alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <strong>Oops!</strong> You cannot bid, as you are the owner of the listing.
                    </div>
                    {% elif "success" in message.tags %}
                    <div class="alert alert-success alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <strong>Wow!</strong> Your bid is the highest bid.
                    </div>
                    {% elif "error_2" in message.tags %}
                    <div class="alert alert-danger alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <strong>Oops!</strong> Your bid must be higher than the current bid.
                    </div>
                    {% endif %}
            {% endfor %}
            </div>
        {% endif %}
    </div>
 <div class="container">
    <div class="row">    
        <div class="col-md-12">
            <h2>Listing: {% if listing %} {{ listing.title }}</h2>
        </div>
    </div>
        <div class="row">
            <div class="col-md-4" class="watch-btn">
                {% if user.is_authenticated %}
                    <!-- remove from watchlist -->
                    {% if in_watchlist %}

                    <form action="{% url 'watchlist' listing_id=listing.id %}" method="POST">
                    {% csrf_token %}
                        <button type="submit" class="btn btn-warning btn-md" id="watch-btn">Remove from Watchlist (-)</button>
                    </form>

                    {% else %}

                <!-- remove from watchlist -->
                    <form action="{% url 'watchlist' listing_id=listing.id %}" method="POST">
                    {% csrf_token %}
                        <button type="submit" class="btn btn-primary btn-md" id="watch-btn">Add to Watchlist (+)</button>
                    </form>
                    {% endif %}
                {% endif %}
            </div>
            <div class="col-md-4" id="close-btn">

                {% if user == listing.listed_by and not listing.is_closed %}
                    <form action="{% url 'close_listing' listing_id=listing.id %}" method="POST">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger btn-md">Close Listing</button>
                    </form>
                {% elif listing.is_closed %}
                        <p><strong>Status:</strong> Closed</p>
                    {% if listing.winner %}
                        <p><strong>Winner:</strong> {{ listing.winner.username }}</p>
                    {% endif %}
                {% endif %}
        </div> 
        </div>

        <div class="row">
                <!-- image segment -->
                    <img src="{{ listing.image_url }}" alt="{ listing.title }" height="300px" width="auto" id="listing_img">
                <div class="col-md-12">
                    <p>{{ listing.description }}</p>
                </div>
                <!-- prices displayed -->
                <div class="col-md-12">
                    <h5><span style="color:silver"> Starting Bid: ${{ listing.starting_bid }} </span>| Current Bid: ${{ highest_bid_amount }}</h5>
                </div>  
            {% else %}
                <p> not found </p>    
                <!-- close iflisting -->
            {% endif %}
        </div>
        
        <div class="row">
            <div class="col-md-12">
                <p>
                    {{ bid_count }} bid(s) so far. {% if  is_highest_bidder %} Your bid is the current highest bid.{% endif %}
                </p>
            </div>
        </div>
        <!-- bid segment -->
        <form action="{% url 'bid' listing_id=listing.id %}" method="POST">
        <div class="row">
            {% if user.is_authenticated %}
                {% csrf_token %}
                <div class="col-md-4" id="bid-btn">
                        <input type="number" class="form-control" id="bid_value" name="bid_value" min="0" max="999999.99" step="0.01" required>
                </div>
                <div class="col-md-4" id="btn-div">
                        <button type="submit" class="btn btn-success btn-md" id="bid-btn">Place Bid</button>
                </div>
                </form>


            {% endif %}
        <!-- messages -->

        </div>

        <!-- details segment -->
        <div class="row" id="details-section">
            <div class="col-md-4">
             <h4>Details</h4>
                <ul>
                    <li>Listed by: <span style="color: cornflowerblue;">{{ listing.listed_by }}</span></li>
                    <li>Category: {% if listing.category %}{{ listing.category }}{% else %}No Category Listed{% endif %}</li>
                </ul>
            </div>
        </div>

 </div>
        
    {% endblock %}
