{% extends "auctions/layout.html" %}

{% block body %}


<div class="container-fluid">
    {% if messages %}
    <div class="container mt-3">
        {% for message in messages %}
            {% if "error_1" in message.tags %}
            <div class="alert alert-warning alert-dismissible">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong>Oops!</strong> You cannot bid, as you are the owner of the listing.
            </div>
            {% elif "success_1" in message.tags %}
            <div class="alert alert-success alert-dismissible">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong>Wow!</strong> Your bid is the highest bid.
            </div>
            {% elif "error_2" in message.tags %}
            <div class="alert alert-danger alert-dismissible">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong>Oops!</strong> Your bid must be higher than the current bid.
            </div>
            {% elif "success_2" in message.tags %}
            <div class="alert alert-info alert-dismissible">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong>NOTICE:</strong> Your listing has been closed.
            </div>
            {% endif %}
        {% endfor %}
        {% endif %}
    </div>
    <div class="row">
        <div class="col">
            <h2>Listing: {% if listing %} {{ listing.title }}</h2>
        </div>
        <div class="col-md">
            {% if not listing.is_closed %}
            <h3><span class="badge badge-success" id="active-badge"> Active Listing</span></h3>
        {% elif listing.is_closed %} 
            <h3><span class="badge badge-secondary">Closed Listing</span></h3>
        {% endif %}   
        </div>  
        <div class="col">
            {% if user.is_authenticated %}
                {% if in_watchlist %}
                    <form action="{% url 'watchlist' listing_id=listing.id %}" method="POST">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-warning btn-md">Remove from Watchlist (-)</button>
                    </form>
                {% else %}
                <!-- remove from watchlist -->
                    <form action="{% url 'watchlist' listing_id=listing.id %}" method="POST">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-primary btn-md">Add to Watchlist (+)</button>
                    </form>
                {% endif %}
            {% endif %}
        </div>
        {% endif %}
    </div>
   

    <div class="row">
        <div class="col-md-6" name="item and bids">
            <div class="col-md-12">
                <img src="{{ listing.image_url }}" alt="{ listing.title }" height="200px" width="auto" id="listing_img">
            </div>
            <div class="col-md-12" id="item-description">
                <p>{{ listing.description }}</p>
            </div>
            <div class="col-md-12">
                <h5><span style="color:silver"> Starting Bid: ${{ listing.starting_bid }} </span>| 
                    {% if not listing.is_closed %}  Current Bid: ${{ highest_bid_amount }}
                    {% else %}
                    <span style="color:green">Winning Bid: ${{ highest_bid_amount }}</span>
                    {% endif %}   
                </h5>
                <h5>
                    {% if user == listing.winner %}
                        <h3 id="win">You won this item! Well done, {{ listing.winner.username }}!</h3>
                    {% endif %}</h5>
            </div>
            <div class="col-md-12">
                    <p>{% if not listing.is_closed %} 
                    {{ bid_count }} bid(s) so far. {% if  is_highest_bidder %} Your bid is the current highest bid.{% endif %}
                    {% endif %}</p>
            </div>

            <!---bid segment --->
                <div class="form-group">
                    <div class="col-md-8" id="bid-btn">
                        {% if not listing.is_closed %}
                        <form action="{% url 'bid' listing_id=listing.id %}" method="POST">
                            {% csrf_token %}
                            {% if user.is_authenticated %}
                        <input type="number" class="form-control" id="bid_value" name="bid_value" min="0" max="999999.99" step="0.01" required>

                        <button type="submit" class="btn btn-success btn-md" id="bid-btn">Place Bid</button>
                        {% endif %}
                    </form>
                    {% endif %}
                </div>
                <hr>
         <!-- end bid segment -->

         <!-- details segment -->
            <div class="col-md-12">
                <h4>Details</h4>
                <p>Listed by: <span style="color: cornflowerblue;">{{ listing.listed_by }}</span></p>
            </div>
            <div class="col-md-12">
                <p>Category: {% if listing.category %}{{ listing.category }}{% else %}No Category Listed{% endif %}</p>
                </div>
            <div class="col-md-4" id="close-btn">
                <p>
                {% if user == listing.listed_by and not listing.is_closed %}
                    <form action="{% url 'close_listing' listing_id=listing.id %}" method="POST">
                        {% csrf_token %}
                            <button type="submit" class="btn btn-danger btn-md">Close Listing</button>
                    </form> 
                    {% endif %}
 
                </p>
            </div>
        </div>
        <!-- end details segment -->
        <!-- comments segment -->

        <div class="col-md-12">
            <div class="form-group">
            <form action="{% url 'comment' listing.id %}" method="POST">
                {% if user.is_authenticated %}
                {% csrf_token %}
            <textarea id="comment_text" class="form-control" name="comment" placeholder="Add comment"></textarea>
            <button type="submit" class="btn btn-primary btn-md" id="bid-btn">Add Comment</button>
        </div>
        <hr>
        </form>
        {% endif %}
        <div class="col-md-12" >
            <h4>Comments:</h4>
            {% for comment in comments %}
                <p><span style="color:deepskyblue">{{ comment.comment_by }}:</span> {{ comment.comment}}
            {% endfor %}
        </div>
        </div>
        </div>
    </div>  

{% endblock %}