{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Listing:</h2>
    {% if listing %}
        <div class="row">
            <div class="col-md-6">
                <h2>{{ listing.title }}</h2>
                <p>{{ listing.description }}</p>
                <img src="{{ listing.image_url }}" alt="{ listing.title }" height="200px" width="auto" id="listing_img">
                <h4>Opening Bid: ${{ listing.starting_bid }}</h4>
            </div>
        </div>

    {% else%}
        <p> not found </p>    
    {% endif %}
{% endblock %}
